.App {
  text-align: center;
}

.todo {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid grey;
}

.todo-list {
  padding: 0;
  margin-bottom: 0;
}

.todo-item {
  list-style: none;
}

.todo-content {
  display: flex;
  padding: 5px 10px;
  border-top: 1px dashed lightgray;
  justify-content: space-between;
}